@font-face {
  font-family: CartFont;
  src: url();
}


/* src/Cart.css */
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  
}

.cart {
  margin-left:0px;
  background: radial-gradient(90deg, rgba(205,205,205,1) 58%, rgba(158,158,158,1) 78%, rgba(70,70,70,1) 100%);
  color: #000000;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.cart h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff4d4d;
}

.cart-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #bac1c7;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.544);
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}
.cart-item-image:hover{
  transform: scale(1.2);
}
.cart-item-details {
  flex: 1;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.cart-item-details span {
  margin-bottom: 5px;
  color:black;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #ff4d4d;
  color: #030303;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}
.quantity-button:hover{
  background-color: #ff4d4d;
  opacity: 0.8;
}
.quantity-input {
  width: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn {
  padding: 20px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add-to-cart {
  background-color: #ffc107;
  color: #343a40;
}

.btn-remove {
  background-color: #ff4d4d;
  color: #fff;
  margin-right: 10px;
  
}

.btn-order {
  background-color: #ff4d4d;
  color: #ffffff;
  display: block;
  width: 43%;
  margin: 20px auto 0;
  padding: 10px;
  font-size: 20px;
}

.btn-order:hover {
  background-color: #28a745;
  color: #000000;
  transition: all 0.5s ease-in-out;
}
.btn-remove:hover {
  background-color: #ff2727;
  transition: all 1s ease-in-out;
}

.btn-remove_cell{
  display: none;
}

@media screen and (max-width:800px) {
  .cart {
    margin-left: 70px;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .btn-remove {
    display: none;
  }
  
  .btn-remove_cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4d4d;
    color: #fff;
    margin-right: 0px;
    margin-left: -20px; /* Aggiungi margine negativo per spostare a sinistra */
    height: 40px; /* Imposta un'altezza fissa per il bottone */
    width: 40px; /* Imposta una larghezza fissa per il bottone */
    border: none; /* Rimuove il bordo predefinito */
    border-radius: 50%; /* Rende il bottone circolare */
  }
  
  .bi-trash {
    font-size: 20px;
  }
}
