body {
  
  
  margin: 0;
  padding: 0;
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap-input-18 { 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-input-18 .search {
  margin: 20px;
}

.wrap-input-18 .search > div {
  display: inline-block;
  position: relative;
}

.wrap-input-18 .search > div:after {
  content: "";
  background: 
white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.wrap-input-18 .search > div > input {
  color: 
white;
  font-size: 16px;
  background: 
transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px 
white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.wrap-input-18 .search > div > input::placeholder {
  color: 
#efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.wrap-input-18 .search > div > input:focus::placeholder {
  opacity: 1;
}

.wrap-input-18 .search > div > input:focus,
.wrap-input-18 .search > div > input:not(:placeholder-shown) {
  width: 250px;
}

#navbar_principale{
  background-color: #efefef;
}

/*icone navbar principale*/
.me-5 a i {
  color: rgb(0, 0, 0);
  font-size:  x-large;
  position: fixed;
}

.me-5 a i:hover{
  color: rgb(255, 34, 5);
  font-size:xx-large;
  transition: 0.2s;
}

/*colore elementi navbar*/
.nav-item .nav-link {
  color: rgb(0, 0, 0); /* Sostituisci #yourColor con il colore che preferisci */
  border-bottom: solid 3px transparent;
}

.nav-item .nav-link:hover{
  border-bottom: solid 3px #e3001b; /* Sostituisci #yourColor con il colore che preferisci */
}


#Scrollup {
  z-index: 1000;
  font-size: 270%;
  position: fixed;
  color: black;
  margin-right: 2%;
  margin-bottom: 2%;
  padding-bottom: 20px;
  bottom: 0;
  right: 0;
}

#Scrollup :hover{
  color: rgb(255, 34, 5);
  font-size: 110%;
  transition: 0.1s;
}


#container1{
  position: relative;
  bottom: -5000px;
}
*:focus {
  outline: none;
}

#redDiv{
  position: fixed;
  background-color:rgba(0, 0, 0,1);
  pointer-events: none;
  padding-right:0;
  padding-bottom: 32.5px;
  padding-top: 32.5px;
  padding-left: 2%;
  opacity: 100;
  left: 0%;
  top: 0%;
}

#form1{
  width: 1700px;
  font-size:larger;
  text-decoration: none;
  text-emphasis: none;
  pointer-events: all;
  color: rgb(255, 255, 255);
  background-color: black;
  border-color: black;
  border: 0px;
  padding-top:16px;
  padding-left:2%;
}

#newsletter_button{
  margin-top: 3%
}

.video-container {
  
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Imposta l'altezza del contenitore in base al rapporto 16:9 (9/16 * 100) */
  
}
#immagine{
  width: 600px;
  height: 600px;
}
.video-container video {
  position: absolute;
  top: 0;
  object-fit: cover;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.5);
}




#Icone{
  border-bottom: 20px solid transparent;
  
}



#sfondoparte2{
  margin: 1px 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.642);
  position:relative;
  top:0;
  left:0;
  background:white;
  height: 1950px;
}

#home_box{
  height: 800px;
}

#contenitore_home{
 
  height: fit-content;
  border:solid 2px rgb(88, 88, 88);
  border-radius: 20px;
  background: 0;
  width: 600px;
  
}

#row1_box1{
  padding-bottom: 350px;
  
}


#Titolo_Home_Page{
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* Partenza con scala 1 */
  color: white;
  font-size: 3em;
  z-index: 2;
  opacity:0;
  text-align: center;
  animation: zoomIn 1.3s ease-in-out forwards; /* Anima il titolo */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




@keyframes zoomIn {
  0% {
      transform: translate(-50%, -50%) scale(1); /* Scala iniziale */
      opacity: 0;
  }
  100% {
      transform: translate(-50%, -50%) scale(2); /* Scala finale */
      opacity:0.7;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
  padding-top: 10%;
  padding-left: 10%;

}

#card {
  background-color: white;
 height:100%;
 width: 100%;
  border-radius: 10px;
  padding: 4rem;
  text-align: center;
  flex: 1;
  margin: 0 1rem;

}
#card:hover {
  background-color: white;
  transition: 1s;
 transform:translate(-2%,-2%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.446);
  flex: 1;
  margin: 0 1rem;
  animation:  1s ease-in-out forwards;
}
#spazio{
  padding: 60px;
}
#immagine-li{
  width: 100%;
  height: 100%;
}

#card h2 {
  margin-top: 5%;
  margin-bottom: 1rem;
}

.card p {
  margin: 0;
  margin-bottom: 1rem;
}

.card a {
  color: rgb(255, 34, 5);
  text-decoration: none;
  font-weight: bold;
}

#titolo_card3{
  padding-top: 10%;
}

#buttoncard{
  border: solid 2px rgb(2, 2, 2);
  border-radius: 10px;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#buttoncard:hover{
  color: rgb(255, 0, 0);
  border: solid 2px red;
  
}

.form-control{
  width: 20px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#cerca {
  
  width: 100%;
  height: 60%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: solid 2px rgb(207, 207, 207);
  border-radius: 20px;
  background: transparent;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  animation: comparsa;
  animation-duration: 0.9s;
}
#cerca1 {
  
  transform: translateY(-100%);
  opacity: 0;
  width: 0px;
  height: 0%;
  margin-top: 10%;
  margin-bottom: 3%;
  border: solid 3px rgb(207, 207, 207);
  border-radius: 20px;
  background: transparent;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}
@keyframes comparsa {
  from{
   transform:translatex(-20%);
    opacity: 0;
  }
  to{
   transform: translatex(0%);
   opacity: 1;
  }
}


#search_icon{
  margin-top: 1px;
  margin-left:60px;
}


#cart_icon{
  margin-top: 0.8%;
  margin-bottom: 1%;


}

#profile_icon{
  margin-top: 0.8%;
 margin-bottom: 1%;
 margin-right:0px ;
}





.icon-ham {
  overflow:hidden;
}
@keyframes comparsa2 {
  from{
   transform:translatey(-50px);
    opacity: 0;
  }
  to{
   transform: translatey(0px);
   opacity: 1;
  }
}

#conteiner_caru{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  width:fit-content;
  height:fit-content;
 
}
#imgcaru{
  box-shadow: 0px 1px 80px rgba(0, 0, 0, 0.642);
  position: relative;
  width: 100%;
  height: 70%;
  margin-top: 14%;
  
}





/* ELEMENTI DI TERZA*/
.benefits {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
}

.benefit {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}

.benefit img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.h1-terza {
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
  padding-right: 20px;
}






/*FOOOTER*/
footer {
  margin-top:35%;
  background-color: #f9f9f9;
  padding: 20px 0;
  border-top: 2px solid #e3001b;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  width: 22%;
}

.footer-section h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  font-size: 14px;
  color: #555;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.newsletter p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.register-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
}

.register-button:hover {
  background-color: #0056b3;
}

/*nav bar NON TOCCARE*/
.header{
  box-shadow: 0px 1px 80px rgba(0, 0, 0, 0.642);
  background-color: black;
  position: fixed;
  top: 0;
  left:0;
  z-index:9999;
  width: 100%;
  height: 9%;
  box-shadow: inset;
 
}

.header__content{white-space: nowrap;height:100%;width: 100%;display:inline-flex;}
.header__logo h1{font-size:50px;}
.header__logo{width: 250px; text-decoration: none;padding: 0px 15px;color: rgba(247, 245, 245, 0.471);font-family: 'Times New Roman', Times, serif;padding-right: 10%;margin-top:0.5%;}
.header__menu{padding-bottom:0;margin-bottom:0;margin-right:30%;margin-top:0.5%; }
.header__menu li{white-space: nowrap;display: inline-block ;justify-content: space-between;position: relative;}
.header__menu li a{white-space: nowrap;color:white;opacity: 0.8;display: inline-block;padding: 16px;font-size: 22px;}
.header__icons{float:right;display: flex;margin-top:1.1%;}
.header__menu li a:hover{
  border-bottom: 0.001px solid red;
  color: rgb(255, 255, 255);
}

/*RESPONSIVE*/
/*----------*/

@media screen and (max-width: 500px){
  #sfondoparte2{
    margin: 1px 0;
  
    position:relative;
    top:0;
    left:0;
    background:white;
    height: 3300px;
  }
  #container_card{
    display: flex; /* Abilita Flexbox */
    flex-direction: column; /* Imposta la direzione dei figli in verticale */
   
  }

  #card{
    font-size:medium;
    width: 80%;
    height: 80%;
  }
  #immagine-li{
    width: 80%;
    height: 80%;
  }
  #Titolo_Home_Page{
    
    font-size: medium;
    
    
}
  #container_card {
    display: flex; /* Abilita Flexbox */
    flex-direction: column; /* Imposta la direzione dei figli in verticale */
  }
  #card{
    font-size:medium;
    width: 80%;
    height: 80%;
  }
  #immagine-li{
    width: 80%;
    height: 80%;
  }
  #Titolo_Home_Page{
    
    font-size: medium;
    
    
}

  .card-container{
    flex-direction: column;
  }
  #container_card {
    display: flex; /* Abilita Flexbox */
    flex-direction: column; /* Imposta la direzione dei figli in verticale */
  }
  #card{
    font-size:medium;
    width: 100%;
    height: 100%;
  }
  #immagine-li{
    width: 100%;
    height: 100%;
  }
  #Titolo_Home_Page{
    
    font-size: medium;
    
    
}

  #cerca1 {
    z-index: 999;
transform: translateY(0%);
  opacity: 1;
    width: 60%;
    height: 40%;
    margin-bottom: 14%;
    align-self: center;
    border: solid 2px rgb(207, 207, 207);
    border-radius: 20px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    animation: comparsa;
    animation-duration: 0.7s;
  
  }
  .header__icons{
    transform: translateY(-100%);
    opacity: 0;
  }
  .menu-open li:hover{
    border-bottom: 0.3px solid red;
    color: rgb(255, 255, 255);}
  .header__menu{
    display: inline-block;
    z-index: 999;
    position:absolute;
    top:50px;
    background-color: black;
    width:100%;
    height: 0px;
    translate: -100%;
  }
  .menu-open li {
    justify-content:space-between;border-bottom:1px solid #444;list-style-type: none;font-size: large;color:white
  }
  .menu-open{height: 200vh;position:absolute;width:100%;
    top:70px;
    background-color: black;
    animation: comparsa2;
    animation-duration: 0.7s;padding-right: 10%;
  }
  .icon-ham{
    height:50px;width: 50px;margin-right: 5%;
  }
  .icon-ham span{
      height:1px;width:50px;background: rgb(172, 171, 171);position:relative;display: block;margin-top: 15px;
  }
  #cart_icon{
    translate: -100px;
  }
  #profile_icon{
    translate:-100px;
  }
  #search_icon{
    translate: -100px;
  }
 
  .menu-open li:hover{
    border-bottom: 0.3px solid red;
    color: rgb(255, 255, 255);}
  .header__menu{
    z-index: 999;
    position:absolute;
    top:50px;
    background-color: black;
    width:100%;
    height: 0px;
    translate: -100%;
  }
  .menu-open li {justify-content:space-between;border-bottom:1px solid #444;list-style-type: none;font-size: large;color:white}
  .menu-open{height: 200vh;position:absolute;width:100%;
    top:50px;
    background-color: black;
    animation: comparsa2;
    animation-duration: 0.7s;padding-right: 10%;
  }
  .icon-ham{
    height:50px;width: 50px;margin-left:110px;
  }
  .icon-ham span{
    height:1px;width:50px;background: rgb(172, 171, 171);position:relative;display: block;margin-top: 15px;
  }

  #cart_icon{
    translate: -100px;
  }
  #profile_icon{
    translate:-100px;
  }
  #search_icon{
    translate: -100px;
  }

  #paragrafo_terzo{
    display: none;
  }

  .benefits{
    display: table-column;
    text-align: left;
  }
  .benefit{
    display: table-row;
  }
  #spazio{
    padding: 0px;
  }

  .footer-container{
    justify-content: center;
    display: table-row;
    text-align: center;
  }

  #titolo_footer{
    text-align: center;
  }
  
 
  

  

}
