#grid_container {
    position:relative;
    display: grid;
    align-content: start;
    height: 100%; /* Altezza relativa al viewport */
    width: 50vw; /* Larghezza relativa al viewport */
    top: 13vh; /* Spostamento dall'alto relativo al viewport */
    left: 25vw; /* Spostamento da sinistra relativo al viewport */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.493);
    padding: 2%;
    overflow: hidden; /* Previene l'uscita degli elementi dal container */
}

#box {
    justify-self: center;
    align-self: center;
    width: 80%; /* Larghezza relativa al container */
    height: 100%; /* Altezza automatica in base al contenuto */
    overflow: hidden; /* Previene l'uscita degli elementi dal box */
    
}

#titolo {
    text-align: center;
    margin-top: 2%;
}

#paragrafo {
    text-align: center;
}

#label {
    margin: 0%;
}

#input_ordine, #input_ordine_credit {
   
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

#rowbox {
    margin-top: 5%;
}

#button_send_order {
    margin-top: 0%;
    margin-left: 30%;
    width: 40%;
    max-width: calc(100% - 60%); /* Assicura che il bottone non esca dal container */
}

#Products {
    text-align: center;
}

@media screen and (max-width: 500px) {
    #grid_container {
        top:5vh;
        left: 5vh; /* Spostamento da sinistra relativo al viewport */
    }
    #grid_container {
        width: 350px;
        margin-top: 30%;
        margin-left: 9%;
        height: 180%;
    }

    #paragrafo {
        display: none;
    }

    #rowbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #box {
        width: 100%;
        padding: 10px;
    }

    #label {
        width: 100%;
        text-align: left;
    }

    #input_ordine {
        width: 100%;
        text-align: left;
    }

    .col {
        width: 100%;
        padding: 5px 0;
        margin-bottom: 15px; /* Aggiungi questa riga per aumentare la distanza tra le righe */
    }

    #button_send_order {
        margin-top: 2%;
        margin-left: 0; /* Allinea il bottone a sinistra */
        width: 100%; /* Bottone occupa tutta la larghezza disponibile */
    }
}
