.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-container.open {
    transform: translateX(0);
  }
  
  .open-button {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    z-index: 1000;  
  }
  
  .navbar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar.visible {
    transform: translateX(0);
  }
  
  .navbar.hidden {
    transform: translateX(-100%);
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 20px 0;
  }